@page  "{Id}"
@model MultiCulturalBlog.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<style>
    .post ul.apply-ink a {
        font-size: 18px;
    }
</style>

<!-- Sidebar -->
<aside class="col-md-3">
    <div class="side-widget">
        <div id="tree"></div>
    </div>
    <input type="hidden" value="@Json.Serialize(Model.ArchiveModels).ToString()" id="hdfArchive" />

</aside>
<!-- Sidebar -->
<!-- Blog content -->
<div class="col-md-7 blogpost">
    <a class="btn btn-success" href="/Blog/Create">Create New</a>
    <div class="space10"></div>
    <article class="post">
        <form method="post">
            @*<div class="post-thumb">
                    <img src="@Model.Blog.PhotoUrl" style="max-width: 690px; max-height:310px" width="690" height="310" class="img-responsive" alt="img">
                </div>*@
            <h3><a href="#">@Model.Blog.Title</a></h3>
            <div class="blog-meta">
                <span><i class="fa fa-user"></i> Admin</span> <span><i class="fa fa-clock-o"></i> @Model.Blog.CreationDate.ToString("s")</span>
                <span>
                    <button class="btn btn-primary btn-xs btn-brown uppercase" id="btnDelete"><span><i class="fa fa-times"></i> Delete</span></button>
                </span>
                <span>
                    <button class="btn btn-primary btn-xs btn-blue uppercase" id="btnEdit" type="button" data-id="@Model.Id">
                        <span><i class="fa fa-pencil"></i> Edit</span>
                    </button>
                </span>

            </div>
            @*<div class="space20"></div>
                <p>
                    @Model.Blog.Body
                </p>*@
            @if (Model.Blog.BodyHtml != null)
            {
                <div class="space20"></div>
                <div>
                    @Html.Raw(Model.Blog.BodyHtml.Replace("\r\n", "<br />"))
                </div>
            }

            @*<div class="space20"></div>
                @if (Model.Blog.VideoUrls != null && Model.Blog.VideoUrls.Length > 0)
                {
                    <h3>Videos</h3>
                    <div class="space30"></div>
                    @foreach (var video in Model.Blog.VideoUrls)
                    {
                        <div class="video">
                            <iframe src="@video" class="full-video" height="300"></iframe>
                        </div>
                        <div class="space20"></div>
                    }
                }*@

            @if (Model.Blog.Attachments != null && Model.Blog.Attachments.Length > 0)
            {
                <h3>Attachments</h3>
                <div class="space30"></div>

                <div class="row">
                    <div class="file-preview-thumbnails">
                        @for (var i = 0; i < Model.Blog.Attachments.Length; i++)
                        {
                            <a href="@Model.Blog.Attachments[i].FileUrl" target="_blank">
                                <div class="file-preview-frame attachment-dv" id="@Model.Blog.Attachments[i].ServerFileName" data-fileindex="1" title="@Model.Blog.Attachments[i].OriginalFileName" style="width:160px;height:160px;">
                                    <div class="file-preview-other-frame">
                                        <div class="file-preview-other">
                                            <span class="file-icon-4x"><i class="glyphicon glyphicon-file"></i></span>
                                        </div>
                                    </div>
                                    <input type="hidden" name="Entity.Attachments[@i].ServerFileName" value="@Model.Blog.Attachments[i].ServerFileName" />
                                    <div class="file-preview-other-footer">
                                        <div class="file-thumbnail-footer">
                                            <div class="file-footer-caption" title="@Model.Blog.Attachments[i].OriginalFileName">@Model.Blog.Attachments[i].OriginalFileName </div>

                                        </div>
                                    </div>
                                </div>
                            </a>
                        }
                    </div>
                </div>

                <div class="space20"></div>
            }

            <div class="clear"></div>
            <div class="space30"></div>
        </form>

    </article>

</div>
<!-- Blog content -->
<div class="col-md-2"></div>


@section Scripts{
    <script src="~/js/blog-index.js"></script>
    <script type="text/javascript">
        var $j = jQuery.noConflict();
        $j(document).ready(function () {
            $j('#btnDelete').on('click', function (e) {
                var isOkay = confirm("Are you sure?");
                if (isOkay) {
                    var $form = $j(this).closest('form');
                    $form.trigger('submit');
                }
            });
            $j('#btnEdit').click(function () {
                document.location.href = '/Blog/Update/' + $j(this).data('id');
            });
        });
    </script>
}